[Unit]
Description=Supervisor daemon
Documentation=http://supervisord.org

[Service]
ExecStart=/root/.pyenv/shims/supervisord -n -c /etc/supervisord.conf
ExecStop=/root/.pyenv/shims/supervisorctl $OPTIONS shutdown
ExecReload=/root/.pyenv/shims/supervisorctl $OPTIONS reload
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
