- hosts: main
  sudo: yes
  roles:
    - yum
    - user
    - localtime
    - hostname
    - selinux
    - jq
    - git
    - dotfiles
    - go
    - publicdns2cname
    - docker
    - nginx
    - apache
    - vim
    - pyenv
    - rbenv
    - node
    - mysql
    - munin
    - awscli
    - supervisor
    - memcached
    - php
    - wordpress
    - nagios
    - sshd_config
